<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a asp-action="index" asp-controller="Callhistory" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">DialPortal</span>
        </a>
        @* <i class="bi bi-list toggle-sidebar-btn"></i> *@
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            @* <li class="nav-item mx-2">Login</li><!-- End Notification Nav --> *@
            <a asp-action="Logout" asp-controller="Auth">
            <li class="nav-item mx-5">Logout</li>
            </a>
        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->